<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exedeus PHP Framework</title>
</head>
<body>
    <h1>{{ passedVariable }}</h1>
    <h3>If you saw "Exedeus is Good", above then Exedeus is Ready</h3>
</body>
</html>
